<h3>{{sa<%= regionName %>_name}}</h3>

<style type='text/css' media='screen'>
.abs-table {
    text-align: right;
}
.abs-table tr td {
    padding 0.2em;
}
.abs-table tr td:nth-child(1) {
    /*font-weight:bold;*/
    text-align:left;
}
.abs-header{
    font-weight: bold;
}
.abs-header td {
    padding-right: 0.2em;
}
</style>


<table class='abs-table'>
    <tr class='abs-header'><td></td><td>Baseline target – percentage of region protected from wind erosion  </td><td>Baseline target –  percentage of region protected from water erosion                              </td><td>Months target not met for wind erosion  </td> <td> Months target not met for water erosion                           </td></tr> 
    <tr><td>{{NRM name}} </td><td>{{Wind erosion target}}      </td><td>{{Water erosion target}}      </td><td>{{2018/19 Wind}} </td>  <td>{{2018/19 Water}}  </td></tr>
</table>
  
