

// Global Livestock Custom hack

.livestock0:after {
  content: ""
}

.livestock1:after {
  content: "LGY Rangeland-Hyperarid"
}

.livestock2:after {
  content: "LGA Rangeland-Arid/Semi Arid"
}

.livestock3:after {
  content: "LGH Rangeland-Humid/Sub Humid"
}

.livestock4:after {
  content: "LGT Rangeland-Temperate/Tropical Highland"
}

.livestock5:after {
  content: "MRY Mixed Rainfed-Hyperarid"
}

.livestock6:after {
  content: "MRA Mixed Rainfed-Arid/Semi Arid"
}

.livestock7:after {
  content: "MRH Mixed Rainfed-Humid/Sub Humid"
}

.livestock8:after {
  content: "MRT Mixed Rainfed-Temperate/Tropical Highland"
}

.livestock9:after {
  content: "MIY Mixed Irrigated-Hyperarid"
}

.livestock10:after {
  content: "MIA Mixed Irrigated-Arid/Semi Arid"
}

.livestock11:after {
  content: "MIH Mixed Irrigated-Humid/Sub Humid"
}

.livestock12:after {
  content: "MIT Mixed Irrigated-Temperate/Tropical Highland"
}

.livestock13:after {
  content: "Urban"
}

.livestock14:after {
  content: "Other"
}

.livestock255:after {
  content: "No classification"
}

// GlobCover Custom hack

.globcover11:after {
  content: "Post-flooding or Irrigated croplands"
}

.globcover14:after {
  content: "Rainfed croplands"
}

.globcover20:after {
  content: "Mosaic Cropland/grass or shrub or forest"
}

.globcover30:after {
  content: "Mosaic grass or shrub or forest/Cropland"
}

.globcover40:after {
  content: "Closed-open broadleaved evergreen/semi-deciduous forest"
}

.globcover50:after {
  content: "Closed broadleaved deciduous forest"
}

.globcover60:after {
  content: "Open broadleaved deciduous forest"
}

.globcover70:after {
  content: "Closed needleleaved evergreen forest"
}

.globcover90:after {
  content: "Open needl. decid. or everg. forest"
}

.globcover100:after {
  content: "Closed-open mixed broadleaved-needleleaved forest"
}

.globcover110:after {
  content: "Mosaic Forest or shrub/Grassland"
}

.globcover120:after {
  content: "Mosaic Grassland/Forest or shrub"
}

.globcover130:after {
  content: "Closed to open shrubland"
}

.globcover140:after {
  content: "Closed to open grassland"
}

.globcover150:after {
  content: "Sparse vegetation"
}

.globcover160:after {
  content: "Closed-open broadleaved forest regularly flooded"
}

.globcover170:after {
  content: "Closed broadleaved forest permantent flooded"
}

.globcover180:after {
  content: "Closed to open vegetation regularly flooded"
}

.globcover190:after {
  content: "Artificial areas"
}

.globcover200:after {
  content: "Bare areas"
}

.globcover210:after {
  content: "Water bodies"
}

.globcover220:after {
  content: "Permanent snow and ice"
}

.globcover230:after {
  content: "Water/No data"
}
